body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
div {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
ol {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
b {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: bold;
}
h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
}
.AreaName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
.CragName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
}
.ClimbName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
}
.ClimbLengthAndGrade {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
}
.ClimbDetails {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6pt;
    font-style: normal;
    font-weight: normal;
}
.NavLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5pt;
    font-style: normal;
    font-weight: bold;
}
